body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.chat-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Zorg dat het op alle schermen werkt */
    max-width: 750px; /* Maximaal op grotere schermen */
}

#chat-box {
    height: 60vh; /* Zorgt ervoor dat het goed schaalt op kleinere schermen */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.message {
    margin: 10px 0; /* Voeg wat ruimte toe tussen berichten */
}

.message strong {
    display: block;
    margin-bottom: 3px;
}

.message.you {
    text-align: right;
    color: #0022ff; /* Kleur voor jouw berichten */
}

.message.bot {
    text-align: left;
    color: #0c7ffa; /* Kleur voor de berichten van de bot */
}

#user-input {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px; /* Pas aan voor een betere mobiele ervaring */
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px; /* Pas aan voor een betere mobiele ervaring */
}

button:hover {
    background-color: #218838;
}

.embed {
    border-left: 4px solid #7289da; /* Discord blauw aan de zijkant */
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.embed-title {
    font-weight: bold;
    color: #7289da;
    margin-bottom: 5px;
}

.embed-content {
    color: #333;
}

.embed-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.embed-icon {
    width: 40px;  /* Kleinere grootte voor mobiel */
    height: 40px; /* Kleinere grootte voor mobiel */
    margin-left: 10px;
}

.message.bot img {
    width: 20px;  /* Pas de grootte aan naar wens */
    height: 20px; /* Pas de grootte aan naar wens */
    margin-right: 5px;
    vertical-align: middle;
}

@media (max-width: 600px) {
    #chat-box {
        height: 50vh; /* Schaal de hoogte verder naar beneden voor kleinere schermen */
    }

    #user-input, button {
        font-size: 14px; /* Iets kleinere tekst voor zeer kleine schermen */
    }
}
